<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="e_Verify_BACK_OFFICE_Service_Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Process" value="e_Verify_BACK_OFFICE_Service" />
    <add key="LoggingAll" value="1" />

    <!--add key="Interface_SQL_DB_Connection" value="Data Source=10.50.30.22;MultipleActiveResultSets=true;Initial Catalog=e-Verify_UAT;Integrated Security=False  ;User ID=CDIntUser;Password=interface;"/-->    <!-- DEV ABC ZW-->
    <!--add key="Interface_SQL_DB_Connection" value="Data Source=RKATSAMBA\CDINTUSER;MultipleActiveResultSets=true;Initial Catalog=e_Verify;Integrated Security=False  ;User ID=CDIntUser;Password=interface;" /-->    <!-- lOCAL DEV TZ/-->
    <add key="Interface_SQL_DB_Connection" value="Data Source=(local)\CDIntUser_2017;Initial Catalog=e_Verify;User ID=sa;Password=Robbin1;Integrated Security=False; MultipleActiveResultSets=true;Connection Lifetime=3;Max Pool Size=3000"/> 
    <!--add key="EcoCash_SQL_DB_Connection"   value="Data Source=.\sql_2008;MultipleActiveResultSets=true;Initial Catalog=Select_WebService_EcoCash;Integrated Security=False  ;User ID=sa;Password=Robbin1;Connection Lifetime=3;Max Pool Size=3000"/-->
    <!--add key="EcoCash_SQL_DB_Connection"   value="Data Source=10.105.180.19\CDINTUSER;MultipleActiveResultSets=true;Initial Catalog=Select_WebService_BABC_Latest;Integrated Security=False  ;User ID=CDIntUser;Password=interface;Connection Lifetime=3;Max Pool Size=3000"/-->  <!--PROD ZW/-->
    <add key="EcoCash_SQL_DB_Connection"   value="Data Source=(local)\CDIntUser_2017;Initial Catalog=e_Verify;user id=sa;password=Robbin1;Integrated Security=False;MultipleActiveResultSets=true;Connection Lifetime=3;Max Pool Size=3000" />  <!--UAT ZW/-->
    <add key="SMS_DB_Connection"           value="Data Source=RKATSAMBA\CDINTUSER;MultipleActiveResultSets=true;Initial Catalog=SMS_Server;Integrated Security=False;User ID=CDIntUser;Password=interface;Connection Lifetime=3;Pooling=false;" />
    <add key="Zipit_SQL_DB_Connection"     value="Data Source=RKATSAMBA\CDINTUSER;MultipleActiveResultSets=true;Initial Catalog=Select_WebService_ZipIT;Integrated Security=False  ;User ID=CdIntUser;Password=interface; " />
    <add key="EPayments_DB"                value="Data Source=RKATSAMBA\CDINTUSER;MultipleActiveResultSets=true;Initial Catalog=Ebanking_in;Integrated Security=False  ;User ID=CdIntUser;Password=interface; " />
    <!--add key="RTGS_Connection"             value="Data Source=.\sql_2008;MultipleActiveResultSets=true;Initial Catalog=RTGS_In_BABC;Integrated Security=False  ;User ID=CdIntUser;Password=interface; "/-->
    <add key="RTGS_Connection"             value="Data Source=RKATSAMBA\CDINTUSER;MultipleActiveResultSets=true;Initial Catalog=RTGS_In_BancABC;Integrated Security=False  ;User ID=CdIntUser;Password=interface; " />                                    <!--PROD/-->
    <add key="FCUBS_Connection"            value="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =10.120.39.4)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = ZWFCCUBS)));user Id=ecocash;password=Ec0cash123$;" /> <!--PROD/-->
    <!--add key="FCUBS_Connection"            value="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =10.105.200.45)(PORT = 1521)) (CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = ZWFCCUBS))));user Id=ecocash;password=Ec0cash123$;"/-->      <!--UAT/-->
    
    <add key="SMS_Max_Batch_Size" value="30" />
    <!--add key="SQL_Server_Instance" value=".\sql_2008"/-->
    <add key="SQL_Server_Instance" value="(local)\CDIntUser_2017;" />
    <!--add key="SQL_Server_Database" value="Select_WebService_BABC_UAT"/-->
    <add key="SQL_Server_Database" value="e_Verify" />
    <add key="SQL_Server_UserID" value="CDIntUser" />
    <add key="SQL_Server_Password" value="interface" />
    <add key="SQL_Windows_Integrated_Security" value="No" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Selcom_Web_UserID" value="BANCABC55" />
    <add key="Selcom_Web_UserPass" value="518923TXZ" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
   </system.web>
  <system.net>
    <defaultProxy enabled="false" useDefaultCredentials="false">
      <proxy usesystemdefault="False" bypassonlocal="True" proxyaddress="http://10.209.1.15:8080" />
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FCUBSUPServiceSEIBinding"  closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="ZimraWebServiceSoap"       closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="FCUBSFTServiceSEIBinding1" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="FCUBSRTServiceSEIBinding"  closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="Finacle_BridgeSoap"        closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
        <binding name="MobileTransactionSoap"     closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
		<binding name="WebServiceSoap"            closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="05:00:00" sendTimeout="05:00:00" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxReceivedMessageSize="2097152">
			  <security mode="Transport" />
		</binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.selcommobile.com:8085/selcom/service.asmx"        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"            contract="selcommobile.WebServiceSoap"       name="WebServiceSoap" />
      <endpoint address="http://localhost:62190/ZimraOnline.asmx"                     binding="basicHttpBinding" bindingConfiguration="ZimraWebServiceSoap"       contract="ZIMRA_Online.ZimraWebServiceSoap"  name="ZimraWebServiceSoap" />
      <endpoint address="http://10.105.200.48:7002/FCUBSUPService/FCUBSUPService"       binding="basicHttpBinding" bindingConfiguration="FCUBSUPServiceSEIBinding"  contract="FCUBSUPService.FCUBSUPServiceSEI"  name="FCUBSUPServiceSEI" />
      <endpoint address="http://10.105.200.48:7002/FCUBSFTService/FCUBSFTService"       binding="basicHttpBinding" bindingConfiguration="FCUBSFTServiceSEIBinding1" contract="FCUBSFTService.FCUBSFTServiceSEI"  name="FCUBSFTServiceSEI1" />
      <endpoint address="http://10.105.200.48:7002/FCUBSRTService/FCUBSRTService"       binding="basicHttpBinding" bindingConfiguration="FCUBSRTServiceSEIBinding"  contract="FCUBSRTService.FCUBSRTServiceSEI"  name="FCUBSRTServiceSEI" />
      <endpoint address="http://localhost:62248/Finacle_Bridge_ST.asmx"                 binding="basicHttpBinding" bindingConfiguration="Finacle_BridgeSoap"        contract="Finacle_Bridge.Finacle_BridgeSoap" name="Finacle_BridgeSoap" />
      <endpoint address="http://10.50.30.21/Banking_Service_UAT/MobileTransaction.asmx" binding="basicHttpBinding" bindingConfiguration="MobileTransactionSoap"     contract="eCoCash.MobileTransactionSoap"     name="MobileTransactionSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <e_Verify_BACK_OFFICE_Service_Interface.Properties.Settings>
      <setting name="SMS_Interface" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ZIMRA_Interface" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ErrorLog_Folder" serializeAs="String">
        <value>C:\Zimra\Errors</value>
      </setting>
      <setting name="Forced_ThreadMinutes" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Service_InterVal_inMilliseconds" serializeAs="String">
        <value>6000</value>
      </setting>
      <setting name="Allow_File_Deletion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Alert_ZimraTransactions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Post_to_ZIMRA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Enable_Service_Logging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Forced_ThreadMinutes_MobilePosting" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="reverseByFirstPosting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Post_Charges_SCB" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseCurrentTimeforZIMRA_Trxns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZIMRA_ID" serializeAs="String">
        <value>BAR</value>
      </setting>
      <setting name="Country_ID" serializeAs="String">
        <value>zw</value>
      </setting>
      <setting name="InDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Input</value>
      </setting>
      <setting name="StagingDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Staging</value>
      </setting>
      <setting name="OutDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Output</value>
      </setting>
      <setting name="BackupDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Backup</value>
      </setting>
      <setting name="RemoteDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Remote_Dir</value>
      </setting>
      <setting name="INSTALLATION_TYPE" serializeAs="String">
        <value>SERVER</value>
      </setting>
      <setting name="Acquire_RTGS_Outward_from_History" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Acquire_RTGS_Outward" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Post_Charges_ABC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoRegister2MNO_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FCUBS_Schema" serializeAs="String">
        <value>zwfcc11</value>
      </setting>
      <setting name="Acquire_RTGS_Outward_ZIPP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Mobile_Trxn_Reversal_Data_Insert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Reverse_Mobile_Transactions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Node_ID" serializeAs="String">
        <value>10.105.50.17_Node1</value>
      </setting>
      <setting name="Forced_ThreadMinutes_SCBCTR" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Barc_StaticDataImport_Enabled_YN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Create_SCB_CTR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SFI_InDirectory" serializeAs="String">
        <value>C:\Ebanking_In\Data\Input\SFI</value>
      </setting>
      <setting name="SFI_OutDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Output\SFI</value>
      </setting>
      <setting name="SFI_BackupDirectory" serializeAs="String">
        <value>C:\EBanking_In\Data\Backup\SFI</value>
      </setting>
      <setting name="QueueName" serializeAs="String">
        <value>VENDORS.IN.Q</value>
      </setting>
      <setting name="QueueUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="QueuePassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="QueueHostName" serializeAs="String">
        <value>10.66.29.197</value>
      </setting>
      <setting name="QueuePort" serializeAs="String">
        <value>5672</value>
      </setting>
      <setting name="RespQueueName" serializeAs="String">
        <value>STANBIC.REPLY.Q</value>
      </setting>
      <setting name="RespQueueUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="RespQueuePassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="RespQueueHostName" serializeAs="String">
        <value>10.66.29.197</value>
      </setting>
      <setting name="RespQueuePort" serializeAs="String">
        <value>5672</value>
      </setting>
      <setting name="LocalhostQueue" serializeAs="String">
        <value>tt</value>
      </setting>
      <setting name="IsLocalQueue" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RTGS_Outwards_MQ_DataPosting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RTGS_Inwards_MQ_DataAquisition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RTGS_Inwards_FCUBS_DataPosting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RTGS_Inwards_Post_Failures_to_Suspense" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Institution_ID" serializeAs="String">
        <value>STB</value>
      </setting>
    </e_Verify_BACK_OFFICE_Service_Interface.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
